{% extends "base.html" %}
{% block content %}

<p><a href="/home">Home</a></p>
<p><a href="/logout">Logout</a></p>
<h1>@{{ username }}</h1>
<br>

<!-- all posts -->
<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
  <strong>Author:</strong>
  <a href="/user/{{ post.author.name }}"> @{{ post.author.name }} </a><br>
  <strong>Time:</strong> {{ post.timestamp.strftime('%b %-d %y %-I:%M %p') }} <br>
<br>
{% endfor %}

{% endblock %}
